* {
  color: white;
}

body {
  background-color: black;
}

.carousel {
  height: auto;
  margin: 10px 0px;
}

.no-margin {
  margin: 0px;
}

img {
  border-radius: 10%;
}

.carousel-img {
  height: 800px;
}

.cedar-img {
  height: 250px;
  width: 250px;
}

.row {
  margin: 10px 0px;
}

.pittsburgh-img {
  height: 400px;
}

a {
  color: white;
}
a:hover {
  color: rgb(201, 201, 201);
}

footer {
  background-color: #187484;
}

h2 {
 margin-bottom: 30px;
}

/* Below is the CSS for the road that's in between sections */

.road-ends,
.road-in-between {
  background-color: #666666;
  height: 5px;
}
.road-white {
  background-color: white;
  height: 5px;
}
.road-center {
  background-color: #666666;
  height: 20px;
}
.road-yellow {
  background-color: yellow;
  height: 5px;
}