* {
  color: white;
}

body {
  background-color: black;
}

.carousel {
  height: auto;
  margin: 10px 0px;
}

.no-margin {
  margin: 0px;
}

img {
  border-radius: 10%;
}

.carousel-img {
  height: 800px;
}

.cedar-img {
  height: 250px;
  width: 250px;
}

.row {
  margin: 10px 0px;
}
